.chat {
  width: 100%;
  &_taskList {
    display: flex;
    &_task {
      width: 16%;
      border: 1px solid #f8f8f8;
      border-top: none;
      padding: 14px 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      opacity: 0.3;
      cursor: pointer;

      &:first-child {
        border-left-color: transparent;
      }

      &:last-child {
        border-right-color: transparent;
      }
    }

    &_btns {
      width: 20%;
      padding: 2px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 1px solid #f8f8f8;
      border-top: none;
      border-right: none;
      

      div {
        display: flex;
        align-items: center;
        width: 50%;
        justify-content: center;
        height: 70px;
        cursor: pointer;
        &:first-child {
          border-right: 1px solid #f8f8f8;
        }
      }
    }
  }
}
