@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

* {
    box-sizing: border-box;
    padding: 0;
    outline: none !important;
}

body {
    margin: 0;
}

.row {
    margin: 0 !important;
}

